body {
    font-family: 'Montserrat', sans-serif;
}

.main {
    width: 100%;
  }
  
  #grid {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
  
  }
  
  .box {
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
  
  .red {
    background-color: red;
    grid-column: 1 / 4; 
      grid-row: 1;
  }
  
  .yellow {
    grid-column: 1;
      grid-row: 2;
    background-color: yellow;
  }
  
  .orange {
    grid-column: 2;
      grid-row: 2;
    background-color: orange;
  }
  
  .green {
    background-color: green;
    grid-column: 3;
      grid-row: 2;
  }
  
  .pink {
    background-color: pink;
    grid-column: 1 / 4;
      grid-row: 3;
    height: 30px;
  }
  
  

.wholeWeb {
    padding: 10px;
}

.header {
    height: 60px;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 10px;
}

.Headertitle {
    align-self: center;
    margin-top: 10px;
}

.nav {
    height: 140px;
    width: 150px
}

.navList {
    margin-top: 10px;
    padding: 5px;
}

.container {}

.article {

}

.calculator {}

.photo {}


